html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --text_color: #1c1c1c;
  --theme_bc: #26303e;
  --input_border: #acadac;
  --loginbtn_color: #00b292;
  --error_color: #ee0c0c;
  --login_text: #4c6d66;
  --button-background: #00b292;
  --border-color: #e6e6e6;
}
